.header {
  &__menu-toggle {
    background: rgb(255, 255, 255);
    display: inherit;
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;

    @include media(">medium") {
      display: none;
    }
    a {
      @include menu-icon(
        $width: 20px,
        $height: 16px,
        $bar: 2px,
        $color: #333,
        $reverse-color: $feature-col,
        $transition: 0.25s
      );
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    z-index: 1001;
  }
  &__logo {
    position: fixed;
    left: calc((100% - #{$width-outer-max}) / 2);
    top: 0;
    width: 60px;
    max-width: 100%;
    z-index: 1;
    @include media("<small") {
      position: absolute;
    }
    a {
      background: $mid-grey;
      display: block;
      text-indent: -999em;
      width: 60px;

      img {
        display: flex;
        width: inherit;
      }
    }
    @include media("<=#{$width-outer-max}") {
      left: 0;
      width: 50px;
      a {
        width: 50px;
      }
    }
    @include media("<=large") {
      left: 0;
      width: 40px;
      a {
        width: 40px;
      }
    }
    @include media("<=medium") {
      left: 0;
      width: 30px;
      a {
        width: 30px;
      }
      @include media("<=small") {
        left: 0;
        width: 25px;
        a {
          width: 25px;
        }
      }
    }
  }

  &__search-prompt {
    position: fixed;
    right: calc((100% - #{$width-outer-max}) / 2);
    top: 0;
    width: 60px;
    max-width: 100%;
    z-index: 1000;
    a {
      img {
        width: 60%;
        height: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      background: rgb(255, 255, 255);
      display: block;

      width: 60px;
      height: 60px;

      &:hover {
        filter: invert(1);
      }
    }
    @include media("<=#{$width-outer-max}") {
      right: 0;
      width: 40px;
      a {
        width: 40px;
        height: 40px;
      }
    }
    @include media("<=medium") {
      display: none;
    }
  }

  &__pnav {
    // Mobile Menu
    // transform: translateY(100vh);
    background: $white;
    // overflow: hidden;
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 0;
    opacity: 0;
    top: -200vh;
    left: 0;
    z-index: 101;
    @include media("<medium") {
      padding-left: 15%;
    }
    &.open {
      // transform: translateY(0);
      opacity: 1;
      height: 100vh;
      overflow: scroll;
      z-index: 501;
      top: 0;
      left: 0;
      // padding-left: 20%;
      padding-top: 80px;
    }
    nav {
      @extend %small;
      font-weight: $demi;
      margin: 0 0 0 0;
      padding: 0;

      @include media("<medium") {
        font-size: 28px;
        font-weight: $heavy;
      }
      ul {
        display: flex;
        flex-direction: column;

        li {
          margin-right: 10px;
          a {
            color: $orange;
            text-transform: uppercase;
            opacity: 0.75;

            @include media("<medium") {
              opacity: 1;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    // Large Menu
    @include media(">=medium") {
      background: none;
      width: 100%;
      opacity: 1;
      // transform: translateY(0);
      top: 0;
      padding-top: 0;
      width: stretch;
      height: 40px;
      &.open {
        padding-top: 0;
        height: 40px;
      }

      nav {
        max-width: 100%;
        margin: 0 0 0 0;
        padding: 0;

        ul {
          display: flex;
          height: 40px;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          margin-left: 11%;
          li {
            margin: 0 4% 0 0;
            a {
              color: $white;
            }
          }
        }
      }
    }
    @include media(">=#{$width-outer-max}") {
      height: 60px;
      &.open {
        padding-top: 0;
        height: 60px;
      }
      nav {
        ul {
          height: 60px;
        }
      }
    }
  }
}

.header__menu-toggle a:hover span {
  background: rgb(0, 0, 0);
}

.header__logo a {
  background: none;
}

.orange-bg {
  background-color: $orange;
}

.opaque {
  opacity: 1 !important;
}

.search {
  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    height: 75vh;
    transform: translateY(-100vh);
    transition: transform 500ms;
    @include media("<medium") {
      background-color: unset;
      transform: translateY(0);
      justify-content: unset;
      height: unset;
      padding-top: 15%;
    }

    form {
      display: flex;
      position: relative;
      width: 100%;
      margin: 0 12% 0 12%;
      align-items: center;
      border-bottom: 1px solid $black;
      @include media("<medium") {
        width: 75%;
        margin: 0;
      }
      @include media("<small") {
        width: unset;
      }

      input {
        width: 95%;
        @extend %medium;
        font-weight: 200;
        border: none;
        &::placeholder {
          color: $black;
        }
      }
      button {
        border: none;
        background: none;
        font-weight: $heavy;
        align-self: flex-end;
        @extend %body;
        cursor: pointer;
        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          width: 22px;
          height: 22px;
          background-image: url(/img/Arrow.svg);
          background-size: 100% 100%;
          transform: translate(-150%, 45%);
          filter: invert(100%);
          background-position: 50% 45%;
          background-repeat: no-repeat;
          @include media("<large") {
            transform: translate(-150%, 20%);
          }
          @include media("<medium") {
            transform: translate(-120%, 15%);
          }
        }
      }
    }
    a {
      width: 20px;
      height: 16px;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 5%;
      right: 2%;
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #333;
        opacity: 1;
        left: 0;
        transform: rotate(45deg);
        @include media("<medium") {
          display: none;
        }
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.search__bg-active {
  transform: translateY(0vh);
  transition: transform 0.8s;
}

.scrim {
  z-index: 10000;
  position: fixed;
  width: 1440px;
  max-width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.904);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.5s, opacity 1.5s;
  @include media("<medium") {
    background-color: unset;
    opacity: 1;
    visibility: visible;
    position: relative;
  }
}

.scrim-active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 150ms;
}
