html {
  scroll-behavior: smooth;
}

.container {
  background-color: $orange;
  // backdrop-filter: invert(59%) sepia(70%) saturate(6974%) hue-rotate(358deg)
  //   brightness(101%) contrast(99%);
}
.cover {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__asset {
    background: black;
    position: relative;
    width: 100%;
    height: 620px;
    @include media("<=hi") {
      height: 515px;
    }
    @include media("<large") {
      height: 410px;
    }
    @include media("<medium") {
      height: 320px;
    }

    @include media("<small") {
      height: 250px;
      margin-left: 25px;
    }

    video,
    img {
      position: absolute;
      z-index: 0;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
    img {
      max-width: auto;
    }
  }
}

.hero-head {
  position: relative;
  &__btn {
    position: absolute;
    z-index: 100;
    bottom: -30px;
    right: 60px;
    @include media("<medium") {
      bottom: -20px;
      right: 30px;
    }
  }
}

.intro {
  position: relative;
  @extend %marginLeft;

  &__text {
    font-weight: $demi;
    @extend %xxlarge;
    @extend %lineLength;
    @extend %marginBottom;
    position: relative;
    line-height: 1.1;

    h1 {
      color: $black;
    }
    h2 {
      color: $white;
    }
  }
}

h1 div {
  overflow: hidden;
  vertical-align: bottom;
}

h2 div {
  overflow: hidden;
  vertical-align: bottom;
}

img {
  overflow: hidden;
}

.features {
  @include flexCenter();
  flex-direction: column;
  position: relative;
  left: 0;

  h3 {
    @extend %medium-feature;
    color: $white;
    font-weight: $demi;
    align-self: flex-start;
    @extend %marginLeft;
    @extend %lineLength;
    padding-bottom: 5px;
  }
  &__blocks {
    width: 100%;
    overflow: hidden;

    &--block {
      position: relative;
      overflow: hidden;
      height: 200px;
      display: flex;
      align-items: center;
      object-fit: none;
      color: $white;
      white-space: nowrap;
      background-color: white;
      &:hover:before {
        content: "FAME TRANSFORMATION PLANET";
        z-index: 2;
        color: $black;
        background-color: white;
        @extend %xxxlarge;
        font-weight: $heavy;
        text-transform: uppercase;
        animation: marquee 6.5s infinite linear;
        pointer-events: none;
      }
      @keyframes marquee {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      @include media("<large") {
        height: 120px;
      }

      @include media("<medium") {
        height: 80px;
      }

      @include media("<small") {
        height: 75px;
      }
    }

    h4 {
      @extend %xxxlarge;
      font-weight: $heavy;
      text-transform: uppercase;
      @extend %marginLeft;
      z-index: 1;

      &::after {
        content: "";
        border-color: transparent rgb(255, 255, 255);
        border-style: solid;
        border-width: 0.1em 0 0.1em 0.18em;
        display: inline-block;
        right: 0.4em;
        top: 45%;
        position: absolute;

        @include media("<small") {
        }
      }
    }
    img {
      width: 101%;
      position: absolute;
      top: -20%;
      left: 0;
      filter: brightness(50%);
      &:hover {
        opacity: 0;
      }
    }
  }
  &__btn {
    position: relative;
    align-self: flex-start;
    @extend %marginLeft;
  }
}

.work {
  position: relative;
  h3 {
    @extend %medium-feature;
    color: $white;
    font-weight: $demi;
    align-self: flex-start;
    @extend %marginLeft;
    padding-bottom: 2%;
  }

  &__block {
    // transition: opacity 0.2s ease-in-out;
    // opacity: 0;
    // &.acitve {
    //   opacity: 1;
    // }
    &--image {
      position: relative;
      .tags {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        ul {
          display: flex;

          li {
            padding: 10px 10px 0 0;

            @extend %small-tag;
            font-weight: $demi;
            border-bottom-width: 70%;
            text-transform: uppercase;

            &:after {
              content: ",";
              color: $white;
            }
            a {
              color: $white;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                border-bottom: 0.15em solid $white;
              }
            }
          }
        }
      }

      display: flex;
      align-items: center;
      h4 {
        text-align: center;
        width: 90%;
        font-weight: $demi;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @extend %xxxlarge;
      }
      img {
        filter: brightness(75%);
        width: stretch;
      }
    }
  }
}

.cards {
  @extend %marginLeft;
  position: relative;
  h3 {
    @extend %medium-feature;
    color: $white;
    font-weight: $demi;
  }
  .card-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    @include media("<medium") {
      flex-direction: column;
    }

    .card {
      flex-basis: 45%;
      text-align: left;
      margin-right: 5%;
      overflow: hidden;

      &__body {
        height: 200px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        padding: 20px 0 0 20px;
        @include media("<large") {
          height: 140px;
          padding: 10px 0 0 10px;
        }
        @include media("<medium") {
          height: 100px;
          padding: 10px 0 0 10px;
        }
        h3 {
          height: 70%;
        }
        .card__footer {
          justify-self: flex-end;
        }
      }

      @extend %marginBottom;
      &__image {
        width: 100%;
        overflow: hidden;
      }
      h3 {
        @extend %medium;
        color: $black;
        font-weight: $demi;
        @extend %lineLength;
        padding-bottom: 10px;
      }
      a {
        color: $black;
        font-weight: $demi;
        text-transform: uppercase;
        @extend %small;
      }
    }
  }
  .card.hero-card {
    flex-basis: 95%;
    margin-right: 5%;
    position: relative;
    .explore-button a {
      display: flex;
      flex-direction: row;
      font-weight: $demi;
      text-transform: none;
      position: relative;
      @extend %small;
      float: right;
      p {
        transform: translate(-10%, 10%);
      }
      .more {
        background-color: $black;
        display: flex;
        flex-direction: column;
        width: 40px;
        height: 40px;
        justify-content: space-evenly;
        align-items: center;
        padding: 3% 0 3% 0;

        span {
          width: 50%;
          height: 2px;
          display: block;
          background: $white;
        }
      }
    }

    .card__body {
      position: absolute;
      bottom: 0;
      width: 47%;
      @include media("<medium") {
        position: relative;
        width: 100%;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin-right: 5%;
  }
}

.youth-block {
  .youth {
    position: relative;
    &__image {
      position: relative;
      height: auto;
    }
    &__btn {
      position: absolute;
      bottom: -20px;
      @extend %marginLeft;
    }
    &__png {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      @extend %marginLeft;
      width: 70%;
    }
    img {
      display: block;
      width: stretch;
    }
  }

  h4 {
    @extend %large;
    font-weight: $demi;
    @extend %marginLeft;
    @extend %lineLength;
    color: $black;
    border-bottom: 0.15em solid rgb(0, 0, 0);
    display: inline;
  }
  h5 {
    padding-top: 2%;
    @extend %large;
    font-weight: $demi;
    color: $white;
    @extend %marginLeft;
    @extend %lineLength;
    line-height: 1.2;
  }
  h3 {
    @extend %medium;
    color: $white;
    font-weight: $demi;
    @extend %marginLeft;
  }
}

.latest {
  &__block {
    max-height: 540px;
    padding: 8% 0 8% 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    @include media("<medium") {
      padding-left: 15px;
    }
    @include media("<small") {
      padding-left: 0px;
    }

    h3 {
      @extend %medium;
      font-weight: $demi;
      @extend %marginLeft;
      color: $orange;
    }
    ul {
      @extend %marginLeft;
      a {
        font-size: $f-xsmall;
        font-weight: $demi;
        text-transform: uppercase;
        color: black;
        @include media("<medium") {
          font-size: $f-xxxsmall;
        }
      }
      li {
        margin-top: 2%;
        a {
          position: relative;
          height: 70px;
          @extend %medium;
          font-weight: $demi;
          border-bottom: 0.15em solid rgb(0, 0, 0);
          text-transform: none;
          &::before {
            content: "";
            border-color: transparent #111;
            border-style: solid;
            border-width: 0.3em 0 0.3em 0.4em;
            display: block;
            height: 0;
            left: -1em;
            top: 0.5em;
            position: absolute;
          }
        }
      }
    }
  }

  &__btn {
    position: absolute;
    @extend %rightBottom;
    z-index: 100;
  }
}
a.button {
  white-space: nowrap;
}

.mask-container-top,
.mask-container,
.mask-container-right,
.mask-container-left {
  // will-change: clip-path;
  // clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
  clip-path: inset(0 0 0 0);
}

.button {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $btn-white;
  color: $black;
  font-size: $f-xsmall;
  font-weight: $heavy;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  height: 60px;
  width: 240px;
  @include media("<large") {
    width: 200px;
    height: 50px;
    font-size: $f-xxsmall;
  }

  @include media("<medium") {
    width: 160px;
    height: 40px;
    font-size: $f-mini;
  }

  @include media("<small") {
    width: 140px;
    font-size: $f-xmini;
  }
  &:hover {
    background: $black;
    color: $white;
  }
}
.footer {
  &__cta {
    @extend %marginBottom;
  }
  .wrap {
    display: flex;
    @include media("<small") {
      flex-flow: wrap;
    }
  }
  p {
    @extend %small;

    color: $white;
    font-weight: $demi;
    @extend %marginLeft;
    width: 70%;
  }

  h4 {
    @extend %large;
    color: $white;
    font-weight: $demi;
    @extend %marginLeft;
    @extend %lineLength;
  }

  .button {
    @extend %xsmall;
    @extend %marginLeft;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $btn-white;
    color: $black;

    font-weight: $heavy;
    text-transform: uppercase;
    letter-spacing: -0.01em;

    height: 50px;
    width: 150px;

    @include media("<large") {
      height: 50px;
      width: 120px;
    }
    @include media("<medium") {
      width: 100px;
      height: 40px;
    }
    @include media("<small") {
      height: 30px;
      width: 90px;
    }
    &:hover {
      background: $black;
      color: $white;
    }
  }
  &__details {
    width: 100%;
    height: 400px;
    background: $black;
    color: $white;
    text-transform: uppercase;
    font-weight: $demi;
    padding: 5% 0 0 5%;
    @extend %xsmall;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include media("<medium") {
      flex-direction: column;
    }
    &--links {
      width: 40%;

      @include media("<medium") {
        width: 100%;
      }

      a {
        color: $white;
        margin: 0 3% 5% 0;
      }
    }

    &--address {
      flex-basis: fit-content;
      p {
        @extend %xsmall;
        margin: 0;
        width: 100%;
      }
      ul {
        display: flex;
        flex-direction: row;
        padding-right: 6%;
        li {
          margin: 3% 5% 0 0;
          img {
            filter: invert(1);
            width: 25px;
            @include media("<medium") {
              width: 18px;
            }
          }
        }
      }
    }
  }
}

.bottom-padding-xlarge {
  @extend %bottom-padding-xlarge;
}

.bottom-padding-large {
  @extend %bottom-padding-large;
}

.bottom-padding-medium {
  @extend %bottom-padding-medium;
}

.bottom-padding-small {
  @extend %bottom-padding-small;
}

.bottom-padding-xsmall {
  @extend %bottom-padding-xsmall;
}

.top-padding-xlarge {
  @extend %top-padding-xlarge;
}

.top-padding-large {
  @extend %top-padding-large;
}

.top-padding-medium {
  @extend %top-padding-medium;
}

.top-padding-small {
  @extend %top-padding-small;
}

.top-padding-xsmall {
  @extend %top-padding-xsmall;
}

.top-padding-310 {
  padding-top: 20%;
}
.top-padding-280 {
  padding-top: 15%;
}

.white-bg {
  background-color: $white;
}

.fame-cover {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__title {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-30%, -45%);
    z-index: 3;
    h1 {
      @extend %xxxlarge-feature;
      font-weight: $heavy;
      text-transform: uppercase;
      color: $white;
    }
  }
  &__asset {
    background: black;
    position: relative;
    width: 100%;
    height: 620px;
    @include media("<=hi") {
      height: 515px;
    }
    @include media("<large") {
      height: 410px;
    }
    @include media("<medium") {
      height: 320px;
    }

    @include media("<small") {
      height: 250px;
      margin-left: 25px;
    }

    video,
    img {
      position: absolute;
      z-index: 0;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
    img {
      max-width: auto;
    }
  }
}

.fame-services {
  @extend %marginLeft;
  h2 {
    font-weight: $demi;
    @extend %xxlarge;
    color: $white;
    width: 85%;
    line-height: 1.1;
  }
  p {
    color: $white;
    font-style: normal;
    font-weight: normal;
    @extend %body-small;
    line-height: 1.4;
    @extend %lineLength;
  }

  h3 {
    @extend %medium-feature;
    color: $white;
    font-weight: $demi;
    color: $white;
    @include media("<medium") {
      padding-left: 15px;
    }
  }
  ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    @include media("<medium") {
      padding-left: 15px;
    }
    li {
      width: 50%;
      a {
        @extend %xlarge-list;
        font-weight: $demi;
        color: $white;
        border-bottom: 0.15em solid rgb(255, 255, 255);
        text-transform: none;

        &::before {
          content: "";
          border-color: transparent #111;
          border-style: solid;
          border-width: 0.16em 0 0.16em 0.28em;
          display: block;
          height: 0;
          left: -0.6em;
          top: 0.9em;
          position: relative;
        }
      }
    }
  }
}

.quote-block {
  display: flex;
  flex-direction: column;
  max-height: 570px;
  background: $quote-bg;
  padding-bottom: 70px;
  @include media("<large") {
    padding-bottom: 50px;
  }
  &__quote {
    @extend %lineLength;
    blockquote {
      @extend %xlarge-quote;
      color: $white;
      font-weight: $demi;
      line-height: 1.05;
      padding: 80px;
      @include media("<large") {
        padding: 40px;
      }
      &::before {
        content: '"';
        position: absolute;
        margin-left: -1em;
        width: 1em;
        text-align: right;
      }
      &::after {
        margin-left: -0.3em;
        content: '"';
      }
    }
  }
  &__image {
    @include media("<medium") {
      width: 50%;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @include media("<medium") {
      display: inline-block;
    }
    @extend %marginLeft;
    figure {
      display: inline-flex;

      img {
        width: 80%;
        border-radius: 50%;
      }
      .info {
        align-self: center;
        width: 70%;
        padding: 0 20px 0 20px;
        @include media("<medium") {
          padding: 0 10px 0 10px;
        }

        h6 {
          @extend %xsmall-quote-details;
          font-weight: $demi;
          color: $white;
        }
        p {
          @extend %xsmall-quote-details;
          font-weight: $book;
          color: $white;
        }
      }
    }
    .quote-button {
      display: inline-block;
      align-self: center;
      margin-right: 120px;
      @include media("<large") {
        margin-top: 30px;
        max-width: 60%;
      }
      @include media("<medium") {
        margin-right: 0px;
      }
      .button {
        width: 300px;
        @include media("<medium") {
          width: 200px;
        }
      }
    }
  }
}

.article-header {
  &__text {
    font-weight: $demi;
    @extend %xxlarge;
    @extend %lineLength;
    h1 {
      color: $black;
      @extend %marginLeft;
    }
    h2 {
      color: $white;
      @extend %marginLeft;
    }
  }
}

.article-intro {
  position: relative;
  .tags {
    position: absolute;
    @extend %marginLeft;

    ul {
      display: flex;

      li {
        padding: 10px 10px 0 0;

        @extend %small-tag;
        font-weight: $demi;
        border-bottom-width: 70%;
        text-transform: uppercase;

        &:after {
          content: ",";
        }
        a {
          color: $orange;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 100%;
            border-bottom: 0.15em solid $orange;
          }
        }
      }
    }
  }
  h3 {
    @extend %marginLeft;
    @extend %lineLength;
    @extend %medium;
    font-weight: $demi;
    color: $dark-grey;
  }
  img {
    @extend %marginLeft;
    width: 75%;
  }
  &__copy {
    @extend %body-article;
    display: flex;
    color: $dark-grey;
    @include media("<=medium") {
      flex-direction: column;
    }
    .body {
      width: 60%;
      @include media("<=medium") {
        width: 85%;
      }
      h4 {
        @extend %marginLeft;
        font-weight: $demi;
      }
      p {
        @extend %marginLeft;
        font-weight: $book;
      }
    }
    aside {
      width: 20%;
      @extend %marginLeft;
      @include media("<=medium") {
        width: 50%;
      }
      h5 {
        @extend %body-article;
        font-weight: $demi;

        @include media("<=medium") {
          padding-top: 8%;
        }
      }
      h6 {
        @extend %xxsmall;
        font-weight: $demi;
        padding-top: 5%;
      }
      p {
        @extend %xxsmall;
      }
    }
  }
}

.up-next-block {
  &__title {
    position: absolute;
    z-index: 1;
    @extend %marginLeft;
    top: 60%;
    h6 {
      @extend %xxlarge-next;
      color: $white;
      font-weight: $demi;

      &:nth-child(1) {
        color: $orange;
      }
    }
  }

  h5 {
    @extend %medium-feature;
    @extend %marginLeft;
    font-weight: $demi;
    color: $dark-grey;
  }
  &__image {
    & img {
      width: 101%;
    }
    overflow: hidden;
    height: 430px;
    filter: brightness(40%);

    @include media("<large") {
      height: 280px;
    }

    @include media("<medium") {
      height: 180px;
    }

    @include media("<small") {
      height: 140px;
    }
  }
}

.brands {
  h3 {
    @extend %large;
    color: $white;
    font-weight: $demi;
    @extend %marginLeft;
    @extend %lineLength;
  }
  &__block {
    @extend %marginLeft;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: baseline;

    &--img {
      img {
        width: 75%;
      }
      padding: 20px;
      width: 20%;

      @include media("<large") {
        width: calc(25% - #{$unit});
      }
      @include media("<medium") {
        width: calc(33% - #{$unit});
      }
      @include media("<small") {
        width: calc(50% - #{$unit});
      }
    }
  }
}

.what-we-do {
  position: relative;

  &__blocks {
    width: 100%;

    &--block {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .service-list {
        @extend %marginLeft;
        z-index: 101;
        position: absolute;
        top: 25%;

        ul {
          display: flex;
          flex-direction: column;
          flex-flow: wrap;

          @include media("<medium") {
            padding-left: 15px;
          }
          li {
            width: 60%;
            a {
              @extend %large-list;
              font-weight: $demi;
              color: $white;
              border-bottom: 0.15em solid rgb(255, 255, 255);
              text-transform: none;

              &::before {
                content: "";
                border-color: transparent rgb(255, 255, 255);
                border-style: solid;
                border-width: 0.16em 0 0.16em 0.28em;
                display: block;
                height: 0;
                left: -0.6em;
                top: 0.9em;
                position: relative;
              }
            }
          }
        }
      }
      .service-list.first-list {
        li {
          width: 50%;
        }
      }
    }

    div h4 {
      padding-top: 3%;
      position: absolute;
      @extend %xxlarge;
      font-weight: $heavy;
      color: $white;
      text-transform: uppercase;
      @extend %marginLeft;
      z-index: 1;
      @include media("<=medium") {
        padding-left: 15px;
      }
    }
    img {
      width: 100%;
      filter: brightness(80%);
    }
  }
}

.white-text {
  color: white !important;
  padding-bottom: 20px;
}

.grey-bg {
  background-color: #f5f5f5 !important;
  @include media("<=large") {
    padding: 0px !important;
  }
}

.black-bg {
  background-color: $black !important;
}

.search-title {
  background-color: #f6f3f3 !important;
  @include media("<=medium") {
    background-color: $orange !important;
  }
  h4 {
    @extend %medium-feature;
    @extend %marginLeft;
    font-weight: $demi;
    color: $dark-grey;
    padding: 20px 0 0;
    @include media("<=medium") {
      color: $white;
    }
  }
}

.search-results {
  margin-left: 90px;
  padding: 5% 0 10%;
  @include media("<=hi") {
    margin-left: 40px;
  }
  @include media("<=large") {
    margin-left: 20px;
  }
  @include media("<=medium") {
    margin-left: 0px;
  }

  &__card {
    display: flex;
    margin: 0 0 5% 0;
    background-color: $white;
    width: 95%;
    position: relative;
    height: 250px;
    @include media("<=large") {
      height: 180px;
    }
    @include media("<=medium") {
      width: 100%;
      height: 130px;
    }

    &--text {
      width: 100%;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      @include media("<=hi") {
        margin-left: 40px;
      }
      @include media("<=large") {
        margin-left: 30px;
      }
      @include media("<=medium") {
        margin-left: 20px;
      }
    }
    .card__footer {
      height: 10%;
      padding: 20px 10px 10px 0;
      @include media("<=small") {
        padding: 0px 10px 10px 0;
      }

      a {
        color: $black;
        @extend %small-tag;
        font-weight: $demi;
        text-transform: uppercase;
        @include media("<=medium") {
          display: none;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      background: $orange;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background-image: url(/img/Arrow.svg);
      background-position: center;
      background-repeat: no-repeat;

      @include media("<=medium") {
        display: none;
      }
    }

    h5 {
      padding-top: 20px;
      @extend %medium-card;
      font-weight: $demi;
      color: $dark-grey;
      @include media("<=medium") {
        padding-top: 10px;
      }
    }
    p {
      color: $dark-grey;
      @extend %xsmall;
      line-height: 1.4;
      @extend %lineLength;
      height: 50%;
      @include media("<=large") {
        height: 40%;
      }
    }
    &--img {
      background-image: url("/img/search-1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      width: 50%;
      @include media("<medium") {
        width: 50%;
      }
    }
  }
}

.youth-cards {
  @extend %marginLeft;
  position: relative;
  .button {
    &:hover {
      background: $orange;
      color: $white;
    }
  }
  h3 {
    @extend %medium-feature;
    color: $white;
    font-weight: $demi;
  }
  .card-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    @include media("<medium") {
      flex-direction: column;
    }

    .card {
      @include media("<medium") {
        flex-basis: 45%;
        text-align: left;
      }

      &__body {
        height: 160px;
        background: #fff;

        padding: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media("<large") {
          height: 120px;
          padding: 10px 0 0 15px;
        }
        @include media("<medium") {
          height: 80px;
          padding: 10px 0 0 10px;
        }
        @include media("<small") {
          height: 60px;
          padding: 10px 0 0 10px;
        }
      }

      @extend %marginBottom;
      &__image {
        width: 100%;
      }
      h3 {
        @extend %medium;
        color: $black;
        font-weight: $demi;
        @extend %lineLength;
        text-transform: none;
        position: relative;
        width: fit-content;
        margin: 0 0 2% 1%;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          border-bottom: 0.15em solid #000;
          bottom: 0;
          right: 0;
        }
      }
      p {
        margin: 0 0 0 1%;
        color: $black;
        font-weight: $demi;
        text-transform: uppercase;
        @extend %small;
      }
    }
  }
  .card.hero-card {
    flex-basis: 100%;

    position: relative;

    .card__body {
      position: absolute;
      bottom: 0;
      width: 47%;
      @include media("<medium") {
        width: 60%;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin-right: 5%;
  }
}

.youth-header {
  @extend %marginLeft;
  padding-right: 120px;
  @include media("<large") {
    padding-right: 80px;
  }
  @include media("<medium") {
    padding-right: 40px;
  }
  @include media("<small") {
    padding-right: 20px;
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  h1 {
    @extend %medium-card;
    font-weight: $demi;
    color: $white;
    align-self: flex-end;
    padding: 10px 0 10px 0;
  }
}

.youth-cover {
  position: relative;
  width: 100%;
  overflow: hidden;
  .text {
    position: absolute;
  }
  &__asset {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    background: black;
    position: relative;
    width: 100%;
    height: 620px;
    @include media("<=hi") {
      height: 515px;
    }
    @include media("<large") {
      height: 410px;
    }
    @include media("<medium") {
      height: 320px;
    }

    @include media("<small") {
      height: 250px;
      margin-left: 25px;
    }

    video,
    img {
      position: absolute;
      z-index: 0;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
    img {
      max-width: auto;
    }
  }
}

.youth-cover {
  position: relative;
  width: 100%;
  overflow: hidden;
  .text {
    position: absolute;
    @extend %marginLeft;
    z-index: 1;
    color: $white;
    @extend %youth-feature;
    font-weight: $demi;
    width: 35%;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 1.1;
  }
  &__asset {
    background: black;
    position: relative;
    width: 100%;
    height: 620px;
    @include media("<=hi") {
      height: 515px;
    }
    @include media("<large") {
      height: 410px;
    }
    @include media("<medium") {
      height: 320px;
    }

    @include media("<small") {
      height: 250px;
      margin-left: 25px;
    }

    video,
    img {
      filter: brightness(80%);
      position: absolute;
      z-index: 0;
      background-size: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
    img {
      max-width: auto;
    }
  }
}

.youth-head {
  h4 {
    font-weight: $demi;
    color: $white;
    @extend %medium-feature;
    margin-left: 10%;
    width: 60%;
    padding-bottom: 10%;
  }
  position: relative;
  &__btn {
    position: absolute;
    z-index: 100;
    bottom: -30px;
    right: 60px;
    @include media("<medium") {
      bottom: -20px;
      right: 30px;
    }
  }
}

.issue-cards {
  @extend %marginLeft;
  .card {
    position: relative;
    &__category {
      display: block;
      background: rgb(0, 0, 0);
      position: absolute;
      top: 0;
      transform: translate(-1%, -1%);
    }

    @extend %marginBottom;
    &__image {
      width: 100%;
    }
    a {
      color: $white;
    }
    .read-more {
      a {
        color: $white;
        font-weight: $demi;
        text-transform: uppercase;
        @extend %small;
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          background-image: url(/img/Arrow.svg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: 50% 50%;
          transform: translate(50%, 18%);
          width: 1em;
          height: 1em;
        }
      }
    }
  }
  h3 {
    @extend %xxlarge;
    color: $white;
    font-weight: $demi;
  }
  p {
    @extend %small;
    @extend %lineLength;
    color: $white;
    font-weight: $book;
  }
}

.black-white-bg {
  background: linear-gradient(180deg, black 0 50%, white 0);
}

.youth-article-header {
  &__text {
    font-weight: $demi;
    @extend %xxlarge;
    @extend %lineLength;
    h1 {
      text-transform: uppercase;
      color: black;
      -webkit-text-fill-color: $black; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $white;
      @extend %marginLeft;
    }
    h2 {
      color: $white;
      @extend %marginLeft;
    }
  }
}

.youth-article-intro {
  img {
    width: stretch;
  }
  position: relative;
  .meta {
    padding-top: 1%;
    @extend %marginLeft;
    display: flex;
    .author {
      display: flex;
      p {
        @extend %small-tag;
        font-weight: $demi;
        color: $black;
        padding-right: 5%;
      }
      a {
        position: relative;
        @extend %small-tag;
        font-weight: $demi;
        color: $black;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;

          width: 100%;
          border-bottom: 0.15em solid $black;
        }
      }
    }

    time {
      @extend %small-tag;
      font-weight: $demi;
      color: $black;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        border-bottom: 0.15em solid $black;
      }
    }
    .tags {
      @extend %marginLeft;
      ul {
        display: flex;
        li {
          @extend %small-tag;
          font-weight: $demi;
          border-bottom-width: 70%;
          text-transform: uppercase;

          &:after {
            color: $black;
            content: ",";
          }
          a {
            color: $black;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 1px;
              width: 100%;
              border-bottom: 0.15em solid $black;
            }
          }
        }
      }
    }
  }

  h3 {
    @extend %marginLeft;
    @extend %lineLength;
    @extend %medium;
    font-weight: $demi;
    color: $dark-grey;
  }

  &__copy {
    @extend %body-article;
    @extend %lineLength;

    color: $dark-grey;
    h4 {
      @extend %marginLeft;
      font-weight: $demi;
    }
    p {
      @extend %marginLeft;
      font-weight: $book;
    }
  }
}

.youth-up-next-block {
  &__title {
    position: absolute;
    z-index: 1;
    @extend %marginLeft;
    top: 60%;
    h6 {
      @extend %xxlarge-next;
      color: $white;
      font-weight: $demi;

      &:nth-child(1) {
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0);
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
      }
    }
  }

  h5 {
    @extend %medium-feature;
    @extend %marginLeft;
    font-weight: $demi;
    color: $dark-grey;
  }
  &__image {
    width: stretch;
    display: flex;
    overflow: hidden;
    filter: brightness(60%);
  }
}

.more-issues {
  background-color: #f5f5f5;
  &__list {
    @extend %marginLeft;

    z-index: 1;
    @include media("<=medium") {
      padding-left: 10px;
    }

    h5 {
      color: $black;
      font-weight: $heavy;
      text-transform: uppercase;
      @extend %large-feature;
      padding: 10% 0 2% 0;
      @include media("<medium") {
        transform: translateX(-4%);
      }
    }
    ul {
      @extend %body-list;
      padding: 0.5% 0;
      display: flex;
      flex-flow: wrap;

      li {
        width: 45%;
        padding: 0.4% 0;
        @include media("<=large") {
          width: 50%;
        }
        @include media("<=medium") {
          width: 100%;
        }
        a {
          display: flex;
          color: $black;

          h6 {
            position: relative;
            font-weight: $demi;
            width: 30%;

            @include media("<=medium") {
              width: 20%;
            }
            @include media("<=small") {
              width: 30%;
            }
            &::before {
              content: "";
              border-color: transparent rgb(0, 0, 0);
              border-style: solid;
              border-width: 0.2em 0 0.2em 0.3em;
              display: block;
              height: 0;
              left: -1em;
              top: 0.5em;
              position: absolute;
            }
          }
          p {
            font-weight: $book;
          }
        }
      }
    }
  }
}

.careers-header {
  &__text {
    font-weight: $demi;
    @extend %xxlarge;
    @extend %lineLength;
    h1 {
      color: $black;
      @extend %marginLeft;
    }
    h2 {
      color: $white;
      @extend %marginLeft;
    }
  }
}

.careers-subhead {
  @extend %marginLeft;
  h2 {
    font-weight: $demi;
    @extend %xxlarge;
    color: $white;
    width: 85%;
    line-height: 1.1;
  }
}

.careers-results {
  margin-left: 90px;
  padding: 5% 0 10%;
  @include media("<=hi") {
    margin-left: 60px;
  }
  @include media("<=large") {
    margin-left: 40px;
  }
  @include media("<=medium") {
    margin-left: 0px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
  }
  &__btn {
    margin: 0 5% 2% 0;

    .button {
      color: $white;
      background: $orange;
      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
  &__card {
    display: flex;
    align-items: center;
    margin: 0 0 5% 0;
    background-color: $white;
    width: 95%;
    position: relative;
    height: 300px;
    @include media("<=large") {
      height: 220px;
    }
    @include media("<=medium") {
      height: 150px;
      width: 100%;
    }
    @include media("<=small") {
      height: 120px;
    }
    .title-time {
      margin-top: 5%;
      display: flex;
      align-items: baseline;

      time {
        padding-left: 3%;
        color: rgb(172, 172, 172);
        @extend %small;
        font-weight: $demi;
        text-transform: uppercase;
      }
      h5 {
        padding-bottom: 2%;
        @extend %medium-card;
        font-weight: $demi;
        color: $dark-grey;
      }
    }

    &--text {
      margin-left: 50px;
      width: 100%;
      @include media("<=hi") {
        margin-left: 40px;
      }
      @include media("<=large") {
        margin-left: 30px;
      }
      @include media("<=medium") {
        margin-left: 20px;
      }
    }

    p {
      color: $dark-grey;
      @extend %xsmall;
      line-height: 1.4;
      @extend %lineLength;
      @include media("<=small") {
        margin-bottom: 5%;
      }
    }

    .actions {
      @include media("<=small") {
        display: none;
      }
      .actions__more {
        a {
          color: $black;
          font-weight: $demi;
          text-transform: uppercase;
          @extend %xxsmall;
          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 1em;
            height: 1em;
            background-image: url(/img/Arrow.svg);
            background-size: 100% 100%;
            transform: translate(50%, 18%);
            filter: invert(100%);
            background-position: 50% 45%;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

.job-details {
  position: relative;

  &__btn {
    position: absolute;
    left: 6%;
    bottom: -6%;
    z-index: 1;
    @include media("<small") {
      bottom: -10%;
    }
  }

  h3 {
    color: $dark-grey;
    margin-left: 10%;
    @extend %lineLength;
    @extend %medium;
    font-weight: $demi;
    margin-bottom: 1%;
    padding: 6% 0 0 0;
  }
  ul {
    @extend %large-list;
    margin-left: 10%;
    @extend %lineLength;
    padding: 0 0 9% 0;
    li {
      display: flex;
      font-weight: $book;

      color: rgb(70, 70, 70);
      position: relative;

      &::before {
        content: "";
        border-color: transparent rgb(61, 61, 61);
        border-style: solid;
        border-width: 0.2em 0 0.2em 0.32em;
        display: block;
        height: 0;
        left: -1em;
        top: 0.5em;
        position: absolute;
      }
      h5 {
        width: 40%;
      }
      p {
        font-weight: $demi;
        color: $dark-grey;
        width: 80%;
      }
    }
  }
  .button {
    color: $white;
    background: $orange;
    &:hover {
      background: $black;
      color: $white;
    }
  }
}

.job-article-intro {
  position: relative;
  color: $dark-grey;
  padding: 5% 0 10%;

  h3 {
    @extend %marginLeft;
    @extend %lineLength;
    @extend %medium;
    font-weight: $demi;
  }
  h4 {
    @extend %marginLeft;
    font-weight: $demi;
    @extend %body-article;
    @extend %lineLength;
  }
  p {
    padding-top: 1%;
    @extend %marginLeft;
    @extend %body-article;
    @extend %lineLength;
  }
}

.job-article-copy {
  position: relative;
  color: $dark-grey;
  @extend %body-article;
  padding-bottom: 10% !important;
  h4 {
    @extend %marginLeft;
    font-weight: $demi;
    padding: 8% 0 2%;
    @extend %lineLength;
  }
  p {
    @extend %lineLength;
    padding: 1% 2% 1% 0;
    margin-left: 10%;
    &:before {
      content: "";
      border-color: transparent rgb(54, 54, 54);
      border-style: solid;
      border-width: 0.2em 0 0.2em 0.3em;
      position: absolute;
      left: 7%;
      transform: translate(-50%, 100%);
    }
  }
}

.apply {
  padding: 2% 0 8% 0;
  h3 {
    @extend %marginLeft;
    width: 60%;
    @extend %medium;
    font-weight: $demi;
    color: $dark-grey;
    padding-bottom: 4%;
  }

  .button {
    color: $white;
    background: $orange;
    @extend %marginLeft;
    &:hover {
      background: $black;
      color: $white;
    }
  }
}

.intro-contact {
  padding: 15% 0 5% 0;
  position: relative;
  @extend %marginLeft;

  &__text {
    @extend %lineLength;
    h1 {
      font-weight: $demi;
      @extend %xxlarge;
      margin-bottom: 1%;
      line-height: 1.1;
      position: relative;
      color: $black;
      margin-right: 1%;
      text-transform: capitalize;
      &:after {
        content: " THINKHOUSE";
        color: $white;
        position: absolute;
        display: contents;
      }
    }
    h3 {
      color: $white;
      @extend %medium-card;
      @extend %marginBottom;
      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
.contact {
  position: relative;
  .field {
    // position: absolute;
    form {
      display: flex;
      justify-content: space-between;
      @extend %marginLeft;
      width: 50%;
      flex-direction: column;
      transform: translateY(-8%);
      @include media("<large") {
        width: 90%;
      }
      textarea,
      input {
        @extend %body-list;
        font-weight: $heavy;
        text-transform: capitalize;
        margin: 3% 0 3% 0%;
        padding: 3% 0 3% 3%;
        outline: 0;
        background: $white;
        width: 100%;
        border: 0;
        box-sizing: border-box;
        &::placeholder {
          color: $dark-grey;
          opacity: 0.8;
        }
      }

      textarea {
        height: 9em;
        resize: none;
      }
      button {
        margin-top: 5%;
        text-align: center;
        outline: 0;
        border: 0;
        color: $white;
        background: $orange;
        font-size: $f-xsmall;
        font-weight: $heavy;
        text-transform: uppercase;
        letter-spacing: -0.01em;
        height: 60px;

        width: 240px;
        @include media("<large") {
          width: 200px;
          height: 50px;
          font-size: $f-xxsmall;
        }

        @include media("<medium") {
          width: 160px;
          height: 40px;
          font-size: $f-mini;
        }

        @include media("<small") {
          width: 140px;
          font-size: $f-xmini;
        }
        &:hover {
          background: $white;
          color: $orange;
        }
      }
    }
  }
}

// .siema {
//   position: relative;
//   siema-wrap {
//     position: absolute;
//     left: 47%;
//     bottom: 5%;

//     button {
//       height: 20px;
//       width: 20px;
//       background-color: #fff;
//       border-radius: 50%;
//       border: none;
//       margin-right: 15px;
//       @include media("<medium") {
//         width: 10px;
//         height: 13px;
//       }
//     }
//   }
// }

.small {
  padding: 0 0 2% 0%;
  @include media("<small") {
    padding: 0 0 0 2%;
  }
}

.siema {
  margin: 1rem 0;
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, 0);
  &__item {
    width: 15px;
    height: 15px;
    margin: 0 0.5rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50%;
    @include media("<small") {
      display: none;
    }

    cursor: pointer;
    &--active {
      background: rgb(255, 255, 255);
    }
  }
}
